
main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

.task-item {
    background: #ffffff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}

.list-item-title {
    font-weight: bold;
}

.task-item button{
    
    margin-right: 34px;
}
@media (max-width: 650px) {
   main ul {
       grid-template-columns: 1fr;
   }
}
