.list-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}
.task-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

.task-item {
    background: #ffffff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
}
.title-container {
    text-align: center;
    margin: 20px
}
.list-title {
    font-size: large;
    line-height: 24px;
}

.list-item-title {
    font-weight: bold;
}


.task-item-button{
    border: 0;
    margin-top: 15px;
    background: #7d40e7;
    border-radius: 2px;
    padding: 15px 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
@media (max-width: 650px) {
   main ul {
       grid-template-columns: 1fr;
   }
}
